<?xml version='1.0' encoding='utf-8'?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.wei.music">
	
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    
    <!-- 修改或删除您的SD卡中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 读取您的SD卡中的内容 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 运行前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!-- 查看网络连接 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
        
    <uses-feature
        android:name="org.apache.http.legacy"
        android:required="false"/>

	<application
		android:name=".App"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
		android:resizeableActivity="true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
		android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".activity.StartActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity 
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity 
            android:name=".activity.MusicListActivity"
            android:theme="@style/TransparentActivityTheme"/>
        
        <activity
            android:name=".activity.SearchActivity"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".activity.PlayerActivity"
            android:launchMode="singleTask"
            android:theme="@style/PlayerActivityTheme"/>
        
        <activity
            android:name=".activity.EqualizerActivity"
            android:theme="@style/HighlightTheme"/>
        
        <activity
            android:name=".activity.MusicListDialog"
            android:theme="@style/DialogActivityTheme"/>
        
        <activity
            android:name=".activity.PermissionActivity"
            android:theme="@style/DialogActivityTheme"/>
            
        <service android:name=".service.MusicService"/>
            
        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>
        
        <meta-data
            android:name="hwc-theme"
            android:value="androidhwext:style/Theme.Emui"/>
        
        <!-- 您从百度网站获取的APP KEY，根据实际您的APP申请的APP_KEY进行修改 -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="22fdd25e30" /> 

        <!-- 渠道商编号 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="Baidu Market" />

        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />

        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />

        <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />

        <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" />

        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" />

		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="com.wei.music.fileprovider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths" />
		</provider>

	</application>

</manifest>
